.landing__section-title {
  margin: 0;
  padding: 110px 0 23px;
  border-bottom: #000000 solid 1px;
  width: 100%;
  max-width: 1140px;
  color: #000000;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
}

.landing__section-title_height_s {
  padding-top: 100px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .landing__section-title {
    padding: 90px 0 23px;
  }
}
@media screen and (max-width: 767px) {
  .landing__section-title {
    padding: 70px 0 28px;
    font-size: 18px;
    line-height: 22px;
  }
}