.about-project {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-project_size_l {
  max-height: 608px;
  width: 100%;
}

.about-project__info-list {
  padding-top: 70px;
  max-width: 1140px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.about-project__info-element {
  display: flex;
  flex-direction: column;
  max-width: 550px;
}

.about-project__info-title {
  margin: 0;
  padding: 0 0 26px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
}

.about-project__info-subtitle {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.about-project__timeline-list {
  margin: 0;
  padding: 110px 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  max-width: 1140px;
}

.about-project__timeline-element {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.about-project__timeline-title {
  margin: 0;
  padding: 0;
  min-height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.about-project__timeline-title_color_green {
  background-color: #2BE080;
}

.about-project__timeline-title_color_grey{
  background-color: #F2F2F2;
}

.about-project__timeline-subtitle {
  margin: 0;
  padding: 14px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #A0A0A0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about-project_size_l {
    padding: 0 50px;
    box-sizing: border-box;
    max-height: 585px;
  }

  .about-project__info-list {
    gap: 37px;
  }

  .about-project__info-title {
    padding: 0 0 22px;
  }

  .about-project__info-subtitle {
    font-size: 12px;
    line-height: 18px;
  }

  .about-project__timeline-list {
    padding: 93px 0;
    grid-template-columns: 140px auto;
  }
}
@media screen and (max-width: 767px) {
  .about-project_size_l {
    padding: 0 18px;
    box-sizing: border-box;
    max-height: 641px;
  }

  .about-project__info-list {
    flex-direction: column;
    padding-top: 60px;
    gap: 56px;
  }

  .about-project__info-title {
    padding: 0 0 16px;
    font-size: 18px;
    line-height: 22px;
  }

  .about-project__info-subtitle {
    font-size: 11px;
    line-height: 16px;
  }

  .about-project__timeline-list {
    padding: 60px 0 70px;
    grid-template-columns: 100px auto;
  }

  .about-project__timeline-title {
    min-height: 35px;
    font-size: 11px;
    line-height: 13px;
  }

  .about-project__timeline-subtitle {
    font-size: 11px;
    line-height: 13px;
    padding-top: 10px;
  }
}