.movies__list {
  padding: 70px 0 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  gap: 32px 30px;
  justify-content: space-between;
}

.movies__more-button-container {
  width: 100%;
  padding: 50px 0 80px;
}

.movies__more-button {
  padding: 0;
  width: 100%;
  min-height: 36px;
  border: none;
  border-radius: 6px;
  background: #F9F9F9;
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
}

@media screen and (min-width: 636px) and (max-width: 983px) {
  .movies__list {
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    gap: 35px 24px;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 635px) {
  .movies__list {
    padding: 40px 0 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px
  }
}