.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio_size_l {
  width: 100%;
}

.portfolio__title {
  margin: 0;
  padding: 100px 0 30px;
  width: 100%;
  max-width: 1140px;
  color: #A0A0A0;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

.portfolio__list {
  padding-bottom: 104px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1140px;
}

.portfolio__list-element {
  margin: 0;
  padding: 20px 0 9px;
  border-bottom: #E8E8E8 solid 1px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.portfolio__list-element:last-of-type {
  border-bottom: none;
}

.portfolio__link {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: #000000;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
}

.portfolio__icon {
  margin: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .portfolio_size_l {
    padding: 0 50px;
    box-sizing: border-box;
  }

  .portfolio__title {
    padding: 90px 0 30px;
  }

  .portfolio__link {
    font-size: 28px;
  }

  .portfolio__list {
    padding-bottom: 71px;
  }

  .portfolio__icon {
    font-size: 28px;
    padding-right: 1px;
  }
}

@media screen and (max-width: 767px) {
  .portfolio_size_l {
    padding: 0 14px;
    box-sizing: border-box;
  }

  .portfolio__title {
    padding: 71px 0 23px;
    font-size: 14px;
    line-height: 17px;
  }

  .portfolio__link {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.72px;
  }

  .portfolio__list {
    padding-bottom: 51px;
  }

  .portfolio__list-element {
    padding: 20px 0 19px;
  }

  .portfolio__icon {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.72px;
    padding-right: 1px;
  }
}
