.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer_size_l {
  width: 100%;
}

.footer__title {
  margin: 0;
  padding: 79px 0 20px;
  width: 100%;
  max-width: 1140px;
  border-bottom: #E8E8E8 solid 1px;
  color: #A0A0A0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
}

.footer__basement {
  margin: 0;
  width: 100%;
  max-width: 1140px;
  min-height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.footer__links {
  display: flex;
  gap: 20px;
}

.footer__link {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer_size_l {
    padding: 0 30px;
    box-sizing: border-box;
  }

}

@media screen and (max-width: 767px) {
  .footer_size_l {
    padding: 0 10px;
    box-sizing: border-box;
    max-height: 253px;
  }

  .footer__title {
    padding: 79px 0 20px;
    font-size: 12px;
    line-height: 15px;
  }

  .footer__basement {
    padding: 30px 0 20px;
    flex-direction: column-reverse;
    align-items: center;
    min-height: 137px;
    box-sizing: border-box;
  }

  .footer__links {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .footer__link {
    font-size: 12px;
    line-height: 15px;
  }

  .footer__copyright {
    font-size: 12px;
    line-height: 15px;
  }

  .footer__links-element {
    margin: 0;
    padding: 0;
    display: flex;
  }
}