.promo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #073042;
}

.promo_size_l {
  width: 100%;
  min-height: 524px;
}

.promo__logo {
  padding-top: 82px;
}

.promo__title {
  position: relative;
  top: -220px;
  margin: 0;
  max-width: 730px;
  min-width: 300px;
  color: #ffffff;
  text-align: center;
  font-size: 50px;
  line-height: 58px;
  font-weight: 400;
  letter-spacing: -0.04em;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .promo {
    min-height: 784px;
  }

  .promo__logo {
    padding-top: 105px;
  }
}

@media screen and (max-width: 767px) {
  .promo_size_l {
    min-height: 570px;
  }

  .promo__logo {
    padding-top: 80px;
    width: 248px;
    height: 248px;
  }

  .promo__title {
    font-size: 31px;
    line-height: 39px;
    top: -183px;
  }
}