.authentication__form-field-label {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.authentication__form-field-title {
  margin: 0;
  width: 100%;
  color: #A0A0A0;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}

.authentication__form-field-input {
  padding: 5px 0 10px;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: #E8E8E8 solid 1px;
  color: #000000;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
}

.authentication__form-field-error {
  margin: 0;
  padding-top: 6px;
  width: 100%;
  min-height: 18px;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #FF3055;
}